C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/obj/project.nuget.cache
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/obj/project.assets.json
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/obj/ExpirationDate.csproj.nuget.g.targets
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/obj/ExpirationDate.csproj.nuget.g.props
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/obj/ExpirationDate.csproj.nuget.dgspec.json
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/bin/Debug/net7.0/ExpirationDate.runtimeconfig.json
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/bin/Debug/net7.0/ExpirationDate.pdb
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/bin/Debug/net7.0/ExpirationDate.exe
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/bin/Debug/net7.0/ExpirationDate.dll
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/bin/Debug/net7.0/ExpirationDate.deps.json
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/obj/Debug/net7.0/apphost.exe
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/obj/Debug/net7.0/ExpirationDate.AssemblyInfo.cs
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/obj/Debug/net7.0/ExpirationDate.AssemblyInfoInputs.cache
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/obj/Debug/net7.0/ExpirationDate.assets.cache
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/obj/Debug/net7.0/ExpirationDate.csproj.CoreCompileInputs.cache
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/obj/Debug/net7.0/ExpirationDate.csproj.FileListAbsolute.txt
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/obj/Debug/net7.0/ExpirationDate.dll
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/obj/Debug/net7.0/ExpirationDate.GeneratedMSBuildEditorConfig.editorconfig
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/obj/Debug/net7.0/ExpirationDate.genruntimeconfig.cache
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/obj/Debug/net7.0/ExpirationDate.GlobalUsings.g.cs
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/obj/Debug/net7.0/ExpirationDate.pdb
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/obj/Debug/net7.0/ref/ExpirationDate.dll
C#/Foundational C# with Microsoft/Expiration Date/ExpirationDate/obj/Debug/net7.0/refint/ExpirationDate.dll
ExpirationDate.cs/obj/ExpirationDate.cs.csproj.nuget.dgspec.json
ExpirationDate.cs/obj/ExpirationDate.cs.csproj.nuget.g.props
ExpirationDate.cs/obj/ExpirationDate.cs.csproj.nuget.g.targets
ExpirationDate.cs/obj/project.assets.json
ExpirationDate.cs/obj/project.nuget.cache
ExpirationDate.cs/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
ExpirationDate.cs/obj/Debug/net7.0/ExpirationDate.cs.AssemblyInfo.cs
ExpirationDate.cs/obj/Debug/net7.0/ExpirationDate.cs.AssemblyInfoInputs.cache
ExpirationDate.cs/obj/Debug/net7.0/ExpirationDate.cs.assets.cache
ExpirationDate.cs/obj/Debug/net7.0/ExpirationDate.cs.GeneratedMSBuildEditorConfig.editorconfig
ExpirationDate.cs/obj/Debug/net7.0/ExpirationDate.cs.GlobalUsings.g.cs
